#root {
  padding: 2rem;
  width: 100%;
  padding: 0;
  margin: auto;
}

/* global css */
main{
  margin-top: 75px;
  padding: 15px;
  height: 100vh;
  .dashboard{
    .card{
      border: unset;
    padding: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.025);
    p{
    font-weight: 600;
    font-size: 1.5rem;
}
.card-title{
  color: var(--dark-color);
  font-size: 1rem;
}
}
  }
}


.card-lightshade-1{
  background-color: var(--color-lightshade-1) !important;
  p{
    color: var(--color-darkshade-1) !important;
  }
}

.card-lightshade-2{
  background-color: var(--color-lightshade-2) !important;
  p{
    color: var(--color-darkshade-2) !important;
  }
}

.card-lightshade-3{
  background-color: var(--color-lightshade-3) !important;
  p{
    color: var(--color-darkshade-3) !important;
  }
}

.card-lightshade-4 {
  background-color: var(--color-lightshade-4) !important;
  p {
    color: var(--color-darkshade-4) !important;
  }
}

input{
   border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    background-color: unset;
    width: 100%;
    color: black;
}

.btn-save{
  background-color: var(--primary-color);
  border-radius: 5px;
}